/* CSS Document */
@font-face {
    font-family: 'Open Sans';
    src: url('fnt/OpenSans-Regular-webfont.eot');
    src: url('fnt/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fnt/OpenSans-Regular-webfont.woff') format('woff'),
         url('fnt/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fnt/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg'); 
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('fnt/OpenSans-Bold-webfont.eot');
    src: url('fnt/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fnt/OpenSans-Bold-webfont.woff') format('woff'),
         url('fnt/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fnt/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg'); 
    font-style:normal;
}
body
{
  margin-bottom:10px; 
  padding:0px;
}
#container
{ 
   background-color:#FFFFFF;   	
   width:90%;  
   margin:0px auto;
   border:1px solid #eee;
   padding-top:10px; 

}
#pie
{
  min-width:700px;
  height:700px; 
  
 
}
/*------------------------------------*\
	NAV-HEADER
\*------------------------------------*/
#nav-header{
	width:90%; 
	margin:0px auto;
	height:180px;
	border:1px solid #eee;
}
#nav-header h1{
	font-family:'Open Sans Bold', sans-serif;
	font-size:30px; 
	color:#00416A;
	position:absolute;
	top:50px;
	left:540px;
	
}
#nav-header img{
	padding:10px;
	height:100px;
	position:absolute;
	left:120px;
}

/*------------------------------------*\
	NAV-MENU
\*------------------------------------*/
#nav-menu{
	list-style:none;	
	margin:0px auto;
	height:50px;	
	position:relative;
	top:120px;
	z-index:5;
	font-family:'Open Sans Bold', sans-serif;
	font-size:16px; 
	color:#00416A;
	padding:0px;
	text-align:center;
	border-top:1px solid #eee;
	
}
#nav-menu li{
	float:left;
	position:relative;
}
#nav-menu li a{
	display:block;
	padding-left:105px;
	padding-top:15px;
	padding-bottom:15px;
	background:#fff;
	text-decoration:none;
	color:#00416A;
}


/*--- DROPDOWN ---*/
#nav-menu ul{
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(0,0,0,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	z-index:100;
	text-align:left;
}
#nav-menu ul li{
	padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
	float:none;
	border:solid 1px #ccc;
	
}
#nav-menu ul a{
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
	display:block;
	padding-left:5px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:5px;
	background:#fff;
	text-decoration:none;
	font-size:14px; 
}
#nav-menu li:hover ul{ /* Display the dropdown on hover */
	left:10px; /* Bring back on-screen when needed */
	top:37px;
}
#nav-menu li a:hover{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	background:#fff;
	color:#800000;
	
}
#nav-menu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#nav-menu li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#fff;
	color:#800000;

}







