/* CSS Document */
@font-face {
    font-family: 'Open Sans';
    src: url('fnt/OpenSans-Regular-webfont.eot');
    src: url('fnt/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fnt/OpenSans-Regular-webfont.woff') format('woff'),
         url('fnt/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fnt/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg'); 
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('fnt/OpenSans-Bold-webfont.eot');
    src: url('fnt/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fnt/OpenSans-Bold-webfont.woff') format('woff'),
         url('fnt/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('fnt/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg'); 
    font-style:normal;
}
body
{
  margin-bottom:10px; 
  padding:0px;
}
.content
{
   background-color:#FFFFFF;   	
   border-bottom:solid;
   border-left:solid;
   border-right:solid;
   border-width: 0px;
   clear: both;
   width:auto;  
   margin:0px auto;
   

	
 }
table
{
  border-top:1px solid #fff;
  color:#000000; 
  width:auto;
   border-spacing:0;
   border-collapse:collapse;
   border:solid;
   border-width:1px;
   font-family:'Open Sans', sans-serif;
   font-size:13px;
   padding:5px;
   table-layout:auto;
   margin-left:10%;
}
table tbody tr:hover td
{
  background:#d0dafd;
}
table .numalign 
{
  text-align:right;
}
table a
{
  text-decoration:none;
}
th
{

 background-color:#CCCCCC;
 color:#000000;
 padding-left:4px;
 padding-right:4px;
 padding-top:4px;
  font-family:'Open Sans Bold', sans-serif;
   text-align:right;
}
th, td {
 
    overflow: hidden;
   
}
tr
{
    border: 1px solid black;
}
td
{
 text-align:right;
 padding-left:5px;
 padding-right:6px;
 padding-top:6px;
 padding-bottom:6px;
}

#logo
{
  margin-left:10%;
  position:relative;
 
 }

.align_left
{
 text-align:left;
}
.home_hdr
{
 font-family:'Open Sans Bold', sans-serif;
 font-size:16px; 
 margin-left:6%;
 margin-bottom:-2px;
 position:relative;
	top:-55px;
}
.home_hdr ul
{
	list-style:none;
	
}
.home_hdr li
{
	border:solid;
	border-width:2px;
	border-style:outset;
	-moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
	border-radius:5px;	
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:15px;
	margin-left:12%;
	float:left;
	width:auto;
	  
}
.home_hdr a
{
  /* color:#800000; */
  color:#00416A;
  text-decoration:none
}
.home_hdr a span.show {
    display:none;
}
.home_hdr a:hover span.show {
    display:inline;
	 color:#800000; 
  text-decoration:none
}
.home_hdr a:hover span.noshow {
    display:none;
}
.totals
{
  text-align:right;
   font-family:'Open Sans Bold', sans-serif;
}
.export_rpt {
	-moz-box-shadow:inset 0px 1px 0px -2px #e1e4e6;
	-webkit-box-shadow:inset 0px 1px 0px -2px #e1e4e6;
	box-shadow:inset 0px 1px 0px -2px #e1e4e6;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a1d6f7), color-stop(1, #085399) );
	background:-moz-linear-gradient( center top, #a1d6f7 5%, #085399 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a1d6f7', endColorstr='#085399');
	background-color:#a1d6f7;
	-moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
	border-radius:5px;
	border:2px solid #3866a3;
	display:inline-block;
	color:#f5f7fa;
	 font-family:'Open Sans Bold', sans-serif;
	font-size:17px;
	margin-left:10%;
	
	padding:14px 52px;
	text-decoration:none;
	text-shadow:1px 1px 0px #7cacde;
}.export_rpt:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #085399), color-stop(1, #a1d6f7) );
	background:-moz-linear-gradient( center top, #085399 5%, #a1d6f7 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#085399', endColorstr='#a1d6f7');
	background-color:#085399;
}.export_rpt:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
